<!--service-->
<div id="service"  id="fundacion-contacto">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="service-heading">
          <h2>Fundacion Jacinto Vasquez</h2> 
          <p>A continuacion esta nuestra mission como fundacion, nuestros valores y quienes somos</p>
        </div>
      </div>
    </div>    
    </div>

  <!--services wrapper-->
<section class="services-style-one">
  <div class="outer-box clearfix">
    
        <div class="services-column">
          <div class="content-outer">
              <div class="row clearfix">
                  
                    <div class="service-block col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="inner-box">
                          <div class="icon-box"><i class="fa fa-child fa-lg" aria-hidden="true"></i></div>
                            <h3>Quienes somos</h3>
                            <div class="text">Una asociacion sin fines del lucro que trabajamos a favor de los mas necesitados.</div>
                        </div>
                    </div>
                    
                    <div class="service-block col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="inner-box">
                          <div class="icon-box"><i class="fa fa-bar-chart fa-lg" aria-hidden="true"></i></div>
                            <h3>Trajectoria</h3>
                            <div class="text">Tenemos mas de 20 anos trabajando iniciando como fundacion madres solteras y ninos abandonados. En el 2011 reformulamos el nombre para pasar a Asociaciacion Jacinto Vasquez</div>
                        </div>
                    </div>
                    
                    <div class="service-block col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="inner-box">
                          <div class="icon-box"><i class="fa fa-trophy fa-lg" aria-hidden="true"></i></div>
                            <h3>Nuestra Mission</h3>
                            <div class="text">Es capacitar jovenes de escasos recursos en el area tecnologica para su insertacion laboral o formacion microempresarial</div>
                        </div>
                    </div>
                    
                    <div class="service-block col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="inner-box">
                          <div class="icon-box"><i class="fa fa-line-chart fa-lg" aria-hidden="true"></i></div>
                            <h3>Siguiendo nuestra meta</h3>
                            <div class="text">Luego de graduar mas de 600 jovenes avanzando en nuestra mision de capacitar y dotar a jovenes en distintas areas tecnologicas</div>
                        </div>
                    </div>
                    
                    <div class="service-block col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="inner-box">
                          <div class="icon-box"><i class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i></div>
                            <h3>Nuestros Valores</h3>
                            <div class="text">Estamos profundamente preocupados por los valores humanos que se pierden y queremos preservarlos a travez de los buenos ejemplos y las obras sociales </div>
                        </div>
                    </div>
                    
                    <div class="service-block col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="inner-box">
                          <div class="icon-box"><i class="fa fa-leaf fa-lg" aria-hidden="true"></i></div>
                            <h3>Trasmision de los valores</h3>
                            <div class="text">Incentivando y cultivando los buenos valores y las buenas acciones para cosechar un futuro mejor  </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Content Column-->
        <div class="content-column clearfix">
            <div class="content-box">
              <div class="inner-box">
                    <!--Section Title-->
                    <div class="sec-title aligned-right">
                        <h2>Capacitarse es asegurar el <span>futuro</span></h2>
                        <div class="text">Con mas de 20 años trabajando con la gente mas humilde, siendo esta labor financiada por la nuestros propios recursos. <br> <br> queremos que con tu aporte esta obra continue llevando capacitacion a muchos jovenes con esperanza y suenos de llegar a la cima.
  
                          </div>

                    </div>
                    
                    
                    <%= link_to 'Graduados', welcomes_graduations_path, class: 'btn btn-default' %>
                </div>
            </div>
        </div>


    </div>
</section>



  <!--service gapping-->
  <div class="service-footer hidden-xs no-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="service-footer-left">
            <h3>Visita nuestros <span>Projectos Educacionales</span></h3>
            <p>En carpeta tenemos impartir mas de 20 cursos en distintas areas tecnologicas</p>
          </div>
        </div>

        <div class="col-md-5">
          <div class="service-footer-right">
            
            <button class="btn"><%= link_to "Projectos", welcomes_futureprojects_path %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



    <!--about-->
    <div id="about">

      <div class="container" id="contact">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
          <div class="about-heading">
            <h2>Contactenos</h2> 
            <p>Te gustaria colaborar con este projecto y se parte de este equipo </p>
          </div>
        </div>
      </div>    
      </div>

      <!--about wrapper left-->
      <div class="container">

        <div class="row">
          <div class="col-xs-12 hidden-sm col-md-5">

            <div class="about-left">
              <%=  image_tag('graduacion/IMG_3458.JPG', class:'', width:'459', height:'500')%>
            </div>

          </div>

          <!--about wrapper right-->
          <div class="col-xs-12 col-md-7">
            <div class="about-right">
              <div class="about-right-heading">
                <h1>Como contactarnos</h1>
              </div>
  
              <div class="about-right-boot">
                <div class="about-right-wrapper">
                  <h1>809 303 4794 </h1>
                  <p>Para mayor informacion contacte al Dr. Jacinto Vasquez presidente de la asociacion Dr. Jacinto Vasquez </p>
                  <br>
                </div>
              </div>

              <div class="about-right-best">
                <div class="about-right-wrapper">
                  <h3>jacintovasquez05@hotmail.com</h3>
                  <p>Escribanos a esta direccion de correo electronico para cualquier informacion duda o pregunta</p>
                  <br>
                </div>
              </div>

              <div class="about-right-support">
                <div class="about-right-wrapper">
                  <a href="https://www.facebook.com/jacinto.vasquez.90?fref=ts"><h3>Fundacion Jacinto Vasquez en Facebook</h3></a>
                  <p>Siguenos en facebook y envianos tus mensajes de apoyo y colaboracion.</p>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
