<div class="container-fluid  bg-image">
  <div class="container donate">
    <div class="row">
      <div class="col-xs-12 top-container">
        <div class="col-xs-6">
          <h1>Es Hora de actuar, no lo dejes para manana, carajo</h1>
          <p>con tu aporte podemos seguir capacitando jovenes</p>
        </div>
      </div>
    </div>
  </div>
</div>