<!-- <div id="home">
  <video id="bgVideo-cover" autoplay loop muted poster="image.png">
    <source src="assets/graduacion/aplausos.mp4" height="600px" type="video/mp4">
  </video>
  <div class="center-image">
    <h1>Fundacion <br> Jacinto Vasquez</h1>
    <h1 class="lead" style="color: #F05F40">Graduaciones</h1>
  </div>
</div>

<div id="members" class="pad-md">
  <div class="container">
    <div class="row">
      <h1 id="categorias-h1">Nuestro Objectivo</h1>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <i class="fa fa-5x fa-handshake-o text-primary sr-icons"></i>
        <h3 class="text-primary">Cursos</h3>
        <p>Hemos impartido una gran variedad de cursos basicos tales como: Etiqueta y protocolo, panaderia y reposteria hasta cursos tecnicos como ensamblaje de inversores, farmacia etc...</p>
        <p><a class="btn btn-default" href="#" role="button">Read more »</a></p>
      </div>
      <div class="col-lg-3">
        <i class="fa fa-5x fa-plus-square text-primary sr-icons"></i>
        <h3 class="text-primary">Testimonios</h3>
        <p>Yo hice el curso de <mark>Reparacion de Celulares</mark>, en estos momentos tengo mi propio taller de reparacion de celulares con varios empleados. Me siento muy contento de haber realizado este curso</p>
        <p class="lead">Onasi Alcantara</p>
      </div>
      <div class="col-lg-3">
        <i class="fa fa-5x fa-graduation-cap text-primary sr-icons"></i>
        <h3 class="text-primary">Cursos para el futuro</h3>
        <p>Tenemos en projecto capacitar jovenes en nuevas areas (10+) <mark>Reparacion de Electrodomesticos</mark>, <mark>Reparacion de Computadoras</mark>, <mark>Ingles</mark>, <mark>Secretaria Ejecutiva</mark> <mark>Barberia</mark> <mark>Redes y Computadora</mark> </p>
        <p><a class="btn btn-default" href="#" role="button">Read more »</a></p>
      </div>
      <div class="col-lg-3">
        <i class="fa fa-5x fa-plane text-primary sr-icons"></i>
        <h3 class="text-primary">Parte Humana</h3>
        <p>Estos graduados son productdel sacrificio economico personal, impulsado por el deseo de exterder una mano amiga al necesitado</p>
        <p><a class="btn btn-default" href="#" role="button">Read more »</a></p>
      </div>
    </div>
  </div>
</div>

<div id="discography" class="pad-md">
  <div class="container">
    <div class="row">
      <h2>Graduacion de curso de Inversores</h2>
    </div>
    <div class="row featurette">
      <div class="col-md-8">
        <h3 class="featurette-heading text-primary">Excelencia y calidad en la capacitacion</h3>
        <p class="lead">El curso de <mark>Inversores</mark> fue ideado con el fin de dotar a cada joven del conocimiento necesario para construir, reparar, instalar, dar servicio y mantenimiento a los circuitos y componenentes que conforman un inversor.  No solo se capacito en el area tecnica sino en el area humana-administrativa para formar un micro-empresario.</p>
        <p>El curso consto con prefesores altamente capacitados egresados de Infotep, cada uno con experiencia profecional y amplia capacidad para la ensenanza</p>
      </div>
      <div class="col-md-4">
        <video  autoplay loop muted poster="image.png">
          <source src="assets/graduacion/aplausos.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-8 col-md-push-3">
        <h2 class="featurette-heading">Graduacion curso de belleza y uñas acrilicas</h2>
        <h3 class="featurette-heading text-primary">Garantia de desarrollo profesional y laboral</h3>
        <p>Nuestros graduados pueden exhibir una gran variedad de habilidades tecnicas en el area de belleza, instalacion y mantenimiento de uñas acrilicas lo cual lo coloca en una posicion extrategica de producir bienes y servicios</p>
      </div>
      <div class="col-md-4 col-md-pull-9">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/graduacion/img628.jpg" data-holder-rendered="true">
      </div>
    </div>
  </div>
</div>

<div id="discography-layover" class="pad-md">
</div>

<div id="discography-part2" class="pad-md">
  <div class="container">
    <div class="row featurette">
      <div class="col-md-8">
        <h3 class="featurette-heading">Graduacion de Salon, uñas y belleza</h3>
        <p class="lead">El área de las uñas abarca desde los clásicos esmaltados como francés y ejecutivo hasta un servicio integral de manicura o pedicura con decoraciones avanzadas. El especialista en uñas, manos y pies es capaz de mejorar la apariencia de sus clientes a través de servicios adicionales como uñas artificiales y tratamientos específicos para cada problema. </p>
      </div>
      <div class="col-md-4">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/graduacion/IMG_3510.JPG" data-holder-rendered="true">
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-8 col-md-push-4">
        <h2 class="featurette-heading">Cual es nuestro Enfoque</h2>
        <p class="lead">Se enfoca para personas que están interesadas en abrir su propio negocio o trabajar en centros de uñas, salas de belleza, clínicas de estética, SPA o bien brindando el servicio a domicilio. Este curso profesional tiene una duración de 8 meses asistiendo dos veces por semana o una vez todo el día. Estos meses se dividen en cuatro módulos 2 meses de duración cada uno.</p>
      </div>
      <div class="col-md-4 col-md-pull-8">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/graduacion/IMG_3451.jpg" data-holder-rendered="true">
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-8">
        <h2 class="featurette-heading">Estilista Profesional</h2>
        <p class="lead">El trabajo en una peluquería puede ir desde un sencillo lavado de cabeza a un corte de Cabello moderno no exento de dificultad. Entre estos dos extremos, todo un abanico de técnicas, nuevas o tradicionales, exigen del profesional de peluquería un aprendizaje teórico-tecnológico y práctico que le permita acomodarse continuamente a las nuevas tendencias que marca la moda.El curso está indicado para aquellas personas que quieran tener una profesión estable, trabajando en su propio negocio o en salones de belleza, estudios fotográficos, cine, TV, etc. Este curso profesional tiene una duración de 24 meses asistiendo dos veces por semana o una vez todo el día. Estos meses se dividen en doce materias con una duración cada uno de 2 meses, las cuales son:</p>
      </div>
      <div class="col-md-4">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/graduacion/pincho" data-holder-rendered="true">
      </div>
    </div>
  </div>
</div>
 -->

<!-- fourth section - Information -->
<!-- <div id="gigs" class="pad-md">
  <div class="container">
    <div class="row">
    </div>
   
     
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- /fourth section -->

<!-- fifth section -->
<!-- <div id="about">
  <div class="container">
    <div class="row">
      <h1>Acerca de nosotros</h1>
      <div class="col-sm-12 text-center">
        <h3>Somos una institucion sin fines de lucro para ayudar al que necesita</h3>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>© 2017 Fundacion Jacinto Vasquez</p>
  </div>
</footer> -->




<!-- NAVBAR
================================================== -->
  
    <!-- Carousel
    ================================================== -->
   <!--  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner " role="listbox">
        <div class="item active bg-reparticion">
          <img class="first-slide" src="assets/reparticion/refresco.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Fundacion Jacinto Vasquez</h1>
              <p>Los ninos son el futuro del mundo, Apoyandolos tendremos mejor Mañana</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="assets/reparticion/altagracia.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Dar es lo que abre la puerta para recibir.</h1>
              <p>La felicidad no consiste en poseer sino en dar y yo me siento feliz cuando puedo brindar a mi hermano una ayuda solidaria. <span><i>---Jacinto Vasquez</i></span></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="assets/reparticion/rigoutiles.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h2>Y vino una viuda pobre y echó dos blancas, que son un cuadrante.</h2>
              <p>Entonces, llamando a sus discípulos, les dijo: De cierto os digo que esta viuda pobre echó más que todos los que han echado al arca, porque todos han echado de lo que les sobra; pero esta, de su pobreza echó todo lo que tenía, todo su sustento. <span><i>Marcos 12:41–44</i></span></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


    
    <div class="container marketing">

      
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="assets/reparticion/chubby.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Somos</h2>
          <p>Una institucion sin fines de lucro que ademas de capacitar donamos a personas de escasos recursos <mark>jugetes</mark> <mark>comida</mark> <mark>utiles escolares</mark><mark>libros</mark> de nuestros recursos financieros</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="assets/reparticion/pelotas.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Mas que</h2>
          <p>Una institucion sin fines de lucro de capacitacion y formacion nos dedicamos a brindarle alegria y diversion a ninos de escasos recursos llevandole un jugete, una merienda y utiles escolares.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="assets/reparticion/mascotas.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Educacion</h2>
          <p>Para repartir y llevar alegria y aliento con toda honestidad y sinceridad, sin politica ni corrupcion. Es un acto humanitario por amor al necesitado y desinteresado.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Reparticion de juegetes <span class="text-muted">llevandole alegria a los ninos.</span></h2>
          <p class="lead">Hasta la fecha hemos repartido alrededor de 40,000 jugetes a ninos de escasos recursos para alegrarles la vida y brindarles un momento de gozo.</p>
          <p>Entre pelotas, munecas, ajedrez, ping pong, pistolitas de agua, juegos de cocina ect, se le ha brindado el gozo de tener un jugete con que jugar</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block"  alt="Generic placeholder image" src="assets/reparticion/utiles.jpg">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Utiles escolares <span class="text-muted">Estudiando asegura un futuro brillante</span></h2>
          <p class="lead">Como fundacion no solo nos interesa la alegria del nino sino que nos enfocamos en que el nino tenga los adecuados materiales educativos para poder asistir a la escuela. Ya que trabajamos con ninos de escasos recursos y en muchas ocaciones no cuentan con los utiles escolares basicos para el desarrollo educativo, nosotros estamos ahi para ayudarle en su trajecto</p>
          <p>Mascotas, lapiz, mochilas, borras, nacho, libros de dibujo, lapices de colores etc</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="assets/reparticion/altagracia.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Reparticion de libros educacionales. <span class="text-muted">Para la temprana orientacion y formacion.</span></h2>
          <p class="lead">La asociacion Jacinto Vasquez tambien ha distribuido miles de libros con la finalidad de que el joven adquiera el habito de leer y expandir sus conocimientos con el proposito de una formacion integral</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="assets/charlas/entregamuchos.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      -->





    
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Fundacion Jacinto Vasquez</h1>
        <h1 class=" text-primary" style="color: #F05F40;">Charlas y conferencias</h1>
        <p class="lead text-muted"></p>
        <p>La fundacion Dr. Jacinto Vasquez ademas de educar y ayudar, imparte charlas acerca de las drogas para prevenir el consumo, distribucion y venta de substancias prohibidas las cuales son dañinas al cuerpo humano y a la sociedad</p>
      </div>
    </section>

    <div class="album text-muted">
      <div class="container">

        <div class="row">
          <div class="card card-images">
            <img data-src=""  src="assets/charlas/iglesia.jpg" class="img-responsive" alt="Card image cap">
            <p class="card-text">Charla conferencia sobre los valores humanos</p>
          </div>
          <div class="card card-images">
            <img  src="assets/charlas/cristiana.jpg" class="img-responsive" alt="Card image cap">
            <p class="card-text">Charla conferencia sobre la responsabilida de los padres con su familia</p>
          </div>
          <div class="card card-images">
            <img  src="assets/charlas/entregamuchos.jpg" class="img-responsive" alt="Card image cap">
            <p class="card-text">Entrega de libros de educacion acerca de las drogas y sus consecuencias funestas para la sociedad</p>
          </div>

          <div class="card card-images">
            <img  src="assets/charlas/pastor.jpg" class="img-responsive" alt="Card image cap">
            <p class="card-text">Charla educacion juvenil</p>
          </div>
          <div class="card card-images">
            <img  src="assets/generales/saludando.jpg" class="img-responsive" alt="Card image cap">
            <p class="card-text">Saludando al cabo de una exitosa conferencia</p>
          </div>
          <div class="card card-images">
            <img  src="assets/charlas/iglesia2.jpg" class="img-responsive" alt="Card image cap">
            <p class="card-text">Este libro acerca del narcotrafico lo utilizamos para charlas y conferencias ya que educa y expone la triste realidad del mundo de las drogas</p>
          </div>

          <div class="card card-images">
            <img  src="assets/charlas/mostrandolibro.jpg" class="img-responsive" alt="Card image cap">
            <p class="card-text">Entrega de libros en iglesia</p>
          </div>
          <div class="card card-images">
            <img  src="assets/charlas/evangelica.jpg" class="img-responsive" alt="Card image cap">
            <p class="card-text">Retiro juvenil</p>
          </div>
          <div class="card card-images">
            <img  src="assets/generales/lucrecia.jpg" class="img-responsive" alt="Card image cap">
            <p class="card-text">Entregando CD charlas grabadas</p>
          </div>
        </div>

      </div>
    </div>

   
