<div id="home">
  <video id="bgVideo-cover" autoplay loop muted poster="image.png">
    <source src="assets/graduacion/aplausos.mp4" height="600px" type="video/mp4">
  </video>
  <div class="center-image">
    <h1>Fundacion <br> Jacinto Vasquez</h1>
    <h1 class="lead" style="color: #F05F40">Graduaciones</h1>
  </div>
</div>

<div id="members" class="pad-md">
  <div class="container">
    <div class="row">
      <h1 id="categorias-h1">Categorias</h1>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <i class="fa fa-5x fa-handshake-o text-primary sr-icons"></i>
        <h3 class="text-primary">Cursos</h3>
        <p>Hemos impartido 10 variedades de cursos desde basicos como: cocina, uñas, cuidado de ancianos hasta cursos tecnicos como ensamblaje de inversores, instalaciones de redes computacionales etc</p>
        <p><a class="btn btn-default" href="#" role="button">Read more »</a></p>
      </div>
      <div class="col-lg-3">
        <i class="fa fa-5x fa-plus-square text-primary sr-icons"></i>
        <h3 class="text-primary">Variedad</h3>
        <p>Nuestra mision es abarcar a todo aquel que quiera superarse pero carezca de recursos para hacerlo, y con esta mision nos hemos desarrollado en amplias areas para asi abarcar a todos</p>
        <p><a class="btn btn-default" href="#" role="button">Read more »</a></p>
      </div>
      <div class="col-lg-3">
        <i class="fa fa-5x fa-graduation-cap text-primary sr-icons"></i>
        <h3 class="text-primary">Graduados</h3>
        <p>Nuestros graduados van desde madres solteras que carecen de recursos para asistir a un curso de superacion tecnico hasta jovenes con vista de emprendedores</p>
        <p><a class="btn btn-default" href="#" role="button">Read more »</a></p>
      </div>
      <div class="col-lg-3">
        <i class="fa fa-5x fa-plane text-primary sr-icons"></i>
        <h3 class="text-primary">Locaciones</h3>
        <p>Nos hemos centralizado en el area de Santo Domingo Oeste pero con la vision de abarcar el pais entero e ir en ayuda de todos y para todos</p>
        <p><a class="btn btn-default" href="#" role="button">Read more »</a></p>
      </div>
    </div>
  </div>
</div>

<div id="discography" class="pad-md">
  <div class="container">
    <div class="row">
      <h2>Graduacion de curso de Inversores</h2>
    </div>
    <div class="row featurette">
      <div class="col-md-8">
        <h3 class="featurette-heading">Excelencia en desarrollo</h3>
        <p class="lead">Con el Curso de Potencia comprenderás cómo funcionan los sistemas electrónicos de potencia más utilizados en entornos industriales, como variadores de frecuencia, sistemas de alimentación ininterrumpida o en el entorno de las energías renovables, como inversores, onduladores, etc… Esto da una base lo suficientemente sólida como para comprender cuáles son los problemas derivados de estas tecnologías (ruidos eléctricos, distorsión armónica, etc…) Por último harás una aproximación sobre las alternativas que existen para el sector del transporte y en especial para los vehículos eléctricos.</p>
      </div>
      <div class="col-md-4">
        <video  autoplay loop muted poster="image.png">
          <source src="assets/graduacion/aplausos.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-8 col-md-push-3">
        <h2 class="featurette-heading">Que aprendieron nuestros graduados </h2>
        <p class="lead">Aprenderás a analizar, y diseñar los circuitos de potencia más utilizados y serás capaz de analizar los dispositivos electrónicos utilizados en entornos industriales y de energías renovables.
Si estás interesado en el Curso de Electrónica de Potencia, solícita información a través del formulario y uno de nuestros orientadores docentes se pondrá en contacto contigo para ampliarte la información sin compromiso.</p>
      </div>
      <div class="col-md-4 col-md-pull-9">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/graduacion/img628.jpg" data-holder-rendered="true">
      </div>
    </div>
  </div>
</div>

<div id="discography-layover" class="pad-md">
</div>

<div id="discography-part2" class="pad-md">
  <div class="container">
    <div class="row featurette">
      <div class="col-md-8">
        <h3 class="featurette-heading">Graduacion de Salon, uñas y belleza</h3>
        <p class="lead">El área de las uñas abarca desde los clásicos esmaltados como francés y ejecutivo hasta un servicio integral de manicura o pedicura con decoraciones avanzadas. El especialista en uñas, manos y pies es capaz de mejorar la apariencia de sus clientes a través de servicios adicionales como uñas artificiales y tratamientos específicos para cada problema. </p>
      </div>
      <div class="col-md-4">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/graduacion/IMG_3510.JPG" data-holder-rendered="true">
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-8 col-md-push-4">
        <h2 class="featurette-heading">Cual es nuestro Enfoque</h2>
        <p class="lead">Se enfoca para personas que están interesadas en abrir su propio negocio o trabajar en centros de uñas, salas de belleza, clínicas de estética, SPA o bien brindando el servicio a domicilio. Este curso profesional tiene una duración de 8 meses asistiendo dos veces por semana o una vez todo el día. Estos meses se dividen en cuatro módulos 2 meses de duración cada uno.</p>
      </div>
      <div class="col-md-4 col-md-pull-8">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/graduacion/IMG_3451.jpg" data-holder-rendered="true">
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-8">
        <h2 class="featurette-heading">Estilista Profesional</h2>
        <p class="lead">El trabajo en una peluquería puede ir desde un sencillo lavado de cabeza a un corte de Cabello moderno no exento de dificultad. Entre estos dos extremos, todo un abanico de técnicas, nuevas o tradicionales, exigen del profesional de peluquería un aprendizaje teórico-tecnológico y práctico que le permita acomodarse continuamente a las nuevas tendencias que marca la moda.El curso está indicado para aquellas personas que quieran tener una profesión estable, trabajando en su propio negocio o en salones de belleza, estudios fotográficos, cine, TV, etc. Este curso profesional tiene una duración de 24 meses asistiendo dos veces por semana o una vez todo el día. Estos meses se dividen en doce materias con una duración cada uno de 2 meses, las cuales son:</p>
      </div>
      <div class="col-md-4">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/graduacion/pincho" data-holder-rendered="true">
      </div>
    </div>
  </div>
</div>


<!-- fourth section - Information -->
<div id="gigs" class="pad-md">
  <div class="container">
    <div class="row">
    </div>
   
     
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /fourth section -->

<!-- fifth section -->
<div id="about">
  <div class="container">
    <div class="row">
      <h1>Acerca de nosotros</h1>
      <div class="col-sm-12 text-center">
        <h3>Somos una institucion sin fines de lucro para ayudar al que necesita</h3>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>© 2017 Fundacion Jacinto Vasquez</p>
  </div>
</footer>