// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin parallax { 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

html, body {
  height: 100%; 
  width: 100%;
}
#home h1 {
  font-size: 10rem;
  color: white;

}
/* vertical-centered image */
.center-image {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#home {

  // background: url('cartel.jpg') no-repeat center center fixed;
  // background-position: 0px 0px;
  @include parallax;
}

#bgVideo-cover{
  position: absolute; 
  background-size: 100% 100% cover;

 /* top: 0px; 
  left: 0px;*/ 
  min-width: 100%; 
  min-height: 80%;
  z-index: -1; 
}

#gigs {
  background: url('cartel.jpg') no-repeat center center fixed;
  @include parallax;
  height: 800px; /* overwrites the default parallax height */
}

#discography-layover {
  background: url('graduacion/IMG_3458.JPG') no-repeat center center fixed; 
  @include parallax;
  height: 400px;
}


/* Custom styles */
h1, h2, h3, .navbar {
  font-family: 'Montserrat', sans-serif;
}
#discography {
  background-color: #333;
  color: #fff;
}
#discography .featurette-divider {
  color: #fff;
}
#gigs .panel {
  opacity: 0.8;
}
.pad-md {
  padding: 50px 0;
}
#gigs h2 {
  color: #fff;
}

.text-primary {
  color: #F05F40;
}
#categorias-h1 {
  padding-bottom: 50px;
  padding-top: 100px;
}