/*About*/
#about {
  padding: 80px;
}

#about .about-heading {
  text-align: center;
}

#about .about-heading h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 45px;
  text-transform: uppercase;
}

#about .about-heading p {
  margin-top: 20px;
  line-height: 25px;
  color: #8e8e8e;
  margin-bottom: 50px;
}

#about .about-left {
  position: relative;
  z-index: 2;
  margin-left: -5rem;
  padding-top: 2rem;
}

#about .about-right:before {
  content: "";
    border: 8px solid #e5eef0;
  width: 110%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

#about .about-right {
  position: relative;
  padding: 0 80px 150px 80px;
}

#about .about-right-heading h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding-top: 100px;
  text-transform: uppercase;
}

#about .about-right-boot:before {
  content: "\f098";
  font-family: 'FontAwesome';
  font-size: 45px;
  padding: 65px 30px 0 0;
  float: left;
  color: #01b1d7;
}

#about .about-right-wrapper {
    padding-left: 0 0 50px 78px;
    position: relative;
  left: 0;
  top: 75px;
}

#about .about-right-wrapper a {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #282828;
}

#about .about-right-wrapper a:hover {
  color: #01b1d7;
}

#about .about-right-wrapper p {
  line-height: 28px;
  margin-top: 20px;
  color: #8e8e8e;
}

#about .about-right-best:before {
  content: "\f064";
  font-family: 'FontAwesome';
  font-size: 45px;
  padding: 65px 30px 0 0;
  float: left;
  color: #01b1d7;
}

#about .about-right-support:before {
  content: "\f082";
  font-family: 'FontAwesome';
  font-size: 45px;
  padding: 65px 30px 0 0;
  float: left;
  color: #01b1d7;
}

/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
  #about {
    padding: 0;
  }

  #about .about-heading h2 {
    margin-top: 30px;
    font-size: 27px;
  }

  #about .about-heading p {
    margin-top: 20px;
    font-size: 12px;
    line-height: 20px;
  }

  #about .about-right:before {
    content: "";
      border: 8px solid #e5eef0;
    width: 100%;
      height: 100%;
  }

  #about .about-right {
    position: relative;
    padding: 30px;
    margin-top: 20px;
  }

  #about .about-right-heading h1 {
    padding-top: 20px;
    font-size: 25px;
    text-align: center;
  }

  #about .about-right-boot:before {
    font-size: 30px;
    padding: 20px 20px 0 0;
  }

  #about .about-right-wrapper {
      position: relative;
    left: 0;
    top: 35px;
  }

  #about .about-right-wrapper a > h3 {
    font-size: 20px;
  }

  #about .about-right-wrapper p {
    margin-top: 20px;
    font-size: 13px;
  }

  #about .about-right-best {
    margin-top: 40px;
  }

  #about .about-right-best:before {
    font-size: 30px;
    padding: 20px 20px 0 0;
  }

  #about .about-right-support {
    margin-top: 40px;
  }

  #about .about-right-support:before {
    font-size: 30px;
    padding: 20px 20px 0 0;
  }
}

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
  #about {
    margin-top: 50px;
    padding: 0;
  }

  #about .about-heading h2 {
    margin-top: 30px;
    font-size: 30px;
  }

  #about .about-heading p {
    margin-top: 20px;
    line-height: 20px;
  }

  #about .about-right:before {
    content: "";
      border: 8px solid #e5eef0;
    width: 100%;
      height: 100%;
  }

  #about .about-right {
    position: relative;
    padding: 30px;
    margin-top: 20px;
  }

  #about .about-right-heading h1 {
    padding-top: 20px;
    font-size: 25px;
    text-align: center;
  }

  #about .about-right-boot:before {
    font-size: 30px;
    padding: 20px 20px 0 0;
  }

  #about .about-right-wrapper {
      position: relative;
    left: 0;
    top: 35px;
  }

  #about .about-right-wrapper a > h3 {
    font-size: 20px;
  }

  #about .about-right-wrapper p {
    margin-top: 20px;
    font-size: 13px;
  }

  #about .about-right-best {
    margin-top: 40px;
  }

  #about .about-right-best:before {
    font-size: 30px;
    padding: 20px 20px 0 0;
  }

  #about .about-right-support {
    margin-top: 40px;
  }

  #about .about-right-support:before {
    font-size: 30px;
    padding: 20px 20px 0 0;
  }

}

/*About bg*/
#about-bg {
  position: relative;
  background-image: url(../images/about/about2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    text-transform: uppercase;
    padding: 100px 0;
    color: #fff;
}

.about-bg-heading {
  font-family: 'Josefin', sans-serif;
  font-weight: 900;
  text-align: center;
  line-height: 40px;
  z-index: -2;
}

.about-bg-heading h1 {
  font-size: 40px
}

.about-bg-heading p {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-weight: 400;
  font-size: 16px;
}

.about-bg-wrapper {
  color: #fff;
  text-align: center;
  margin-top: 30px;
  z-index: -2;
}

#about-bg .about-bg-wrapper .count {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 45px;
  margin-right: 20px;
  text-align: center;
  float: left;
  color: #01b1d7;
}

#about-bg .about-bg-wrapper p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 30px;
  float: left;
}

/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
  .about-bg-heading h1 {
    font-size: 28px;
  }

  .about-bg-wrapper {
    margin-left: 25%;
  }

}

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
  .about-bg-heading h1 {
    font-size: 30px;
  }

  .about-bg-wrapper {
    margin-left: 35%;
  }

}

/*Service*/
#service {
  margin-top: 100px;
  background-attachment: scroll;
    padding-bottom: 0px;
    padding-top: 0px;
}

#service .col-md-6 {
  padding: 0;
  
}

#service .service-heading {
  text-align: center;
}

#service .service-heading h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 45px;
  text-transform: uppercase;
}

#service .service-heading p {
  margin-top: 20px;
  line-height: 25px;
  color: #8e8e8e;
  margin-bottom: 50px;
}

.services-style-one {
  position: relative;
}

.services-style-one .outer-box {
  position: relative;
  background: #1c1c1c;
}

.services-style-one .services-column {
  position: relative;
  width: 50%;
  float: left;
  background: #f2f3f4;  
}

.services-style-one .service-block {
  position: relative;
  margin-bottom: 40px;  
}

.services-style-one .services-column .content-outer {
  position: relative;
  float: right;
  max-width: 700px;
  padding: 80px 20px 40px 40px; 
}

.services-style-one .services-column .icon-box {
  font-size: 36px;
  margin-bottom: 15px;
  line-height: 1px;
  color: #01b1d7; 
}

.services-style-one .services-column h4 {
  font-size: 14px;
  margin-bottom: 10px;
  color: #1c1c1c; 
}

.services-style-one .services-column .text {
  font-size: 13px;
  color: #5a5a5a;
  max-width: 250px; 
}

.services-style-one .content-column {
  position: relative;
  float: left;
  width: 50%;
  background: #1c1c1c;
  text-align: right;
}

.services-style-one .content-column .content-box {
  position: relative;
  float:left;
  padding: 170px 20px 100px 320px;
  max-width: 700px; 
}

.services-style-one .content-column .sec-title h2 {
  color: #fff;
}

.services-style-one .content-column .sec-title h2 > span {
  border-bottom: 2px solid #01b1d7;
  padding-bottom: 5px;
}

.services-style-one .content-column .inner-box {
  position: relative;
}

.services-style-one .content-column .text {
  position: relative;
  margin: 30px 0;
  color: #999999;
  line-height: 25px;
}

.inner-box button {
  background-color: #01b1d7;
  width: 120px;
  height: 35px;
  color: #fff;
}

.inner-box button:hover {
  background-color: #fff;
  color: #01b1d7;
}

/*Service Footer*/
#service .service-footer {
  background: #222222;
  padding: 30px 0;
}

#service .service-footer-left h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #fff;
}

#service .service-footer-left h3 > span {
  color: #01b1d7;
}

#service .service-footer-left p {
  font-size: 16px;
  color: #9d9d9d;
}

#service .service-footer-right {
  float: right;
  line-height: 80px;
}

#service .service-footer-right button {
  background-color: #01b1d7;
  width: 180px;
  height: 50px;
  color: #fff;
}

#service .service-footer-right button:hover {
  background-color: #fff;
  color: #01b1d7;
}

/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
  #service {
    margin-top: 50px;
  }

  #service .service-heading h2 {
    font-size: 27px;
  }

  #service .service-heading p {
    font-size: 13px;
  }

  .services-style-one .content-column .content-box {
    padding: 200px 20px 100px 20px; 
  }
}

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
  #service {
    margin-top: 50px;
  }

  #service .service-heading h2 {
    font-size: 30px;
  }

  .services-style-one .content-column .content-box {
    padding: 200px 20px 100px 20px; 
  }
}

.pelucas {
  max-width: 80px !important;
  height: 100% !important;
  display: none 
}

.donate{
  color:white;
}
.top-container{
  margin-top:25%;
}
.bg-image{
  background: url('background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}