<div class="logo pepe">
  <a href="#" src="http://www.google.com"><img src="assets/logo.jpg" class="img-responsive img-circle pepe pull-left"></a>
</div>
<div class="button_container" id="toggle">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li ><a href="#">Inicio</a></li>
      <li><a href="#">Acerca De Nosotros</a></li>
      <li><a href="#">Projectos</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>
</div>